

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CACFD6;
}

.container {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 5px;
    columns: #517664;
    display: flex;
    border-radius: 10px;
    border: 1px solid;
}

.esquerda {
    background-color: #fefefe;
    border: 1px solid;
    margin: 1rem;
    width: 55%;
    border-radius: 10px;
    padding: 10px;
}

.direita {
    background-color: #fefefe;
    margin: 1rem;
    width: 45%;
    height: 250px;
    line-height: 50px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

#calendario {
    padding: 5px;
    height: 100%;
    width: 100%;
}